*.pem
*.key
.env
.env.*

# Terraform state
*.tfstate
*.tfstate.*
terraform_tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
terraform/terraform.tfvars
ansible/inventory.ini

# --- Python ---
__pycache__/
*.pyc
myenv/
venv/
.venv/

.DS_Store
.vscode/
